.recipe-card {
    width: 100%;
    max-width: 310px;
    /* max-width: fit-content; */
    overflow: hidden;
    height: 100%;
    flex-basis: 100%;
    min-height: 300px;
    /* background-color: blanchedalmond; */
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(40, 40, 40, 0.2);

    h2 {
        font-size: 1.3rem;
    }

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
    }
    
    &:hover {
        transition: all 300ms ease-in-out;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    .card-info {
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: space-between;
        align-items: start;
        /* padding: 10px 5px; */
    }

    .card-info-container {
        padding: 10px 5px;
        height: 100%;
        /* background-color: aquamarine; */
    }
    
    
    .img-container {
        overflow: hidden;
        width: fit-content;
        height: 200px;
        /* aspect-ratio: 4/3; */
    }

    .fav-btn {
        cursor: pointer;
        background-color: white !important;
        border: 2px solid #ff0062;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .fav-logo {
        width: 20px;
        height: 20px;
    }

    .recipe-detail-btn {
        width: 100%;
        margin-top: 20px;
        padding: 8px 2px;
        background-color: whitesmoke;
        outline: none;
        border: 2px solid whitesmoke;
        transition: all 300ms ease-in-out ;
        
        &:hover {
            border: 2px solid rgb(29, 219, 175);
        }
    }
}



