#modal-container {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    background-color: rgb(82, 82, 82, 0.6);
    width: 100vw;
    height: 100dvh;
    z-index: 4;
    /* justify-content: center;       horizontal center */
    flex-direction: column;
    align-items: center;           /* vertical center */
    overflow: auto;
    
}


.active {
    display: flex !important;
}


#modal {
    background-color: white;
    position: relative;
    width: 90%;
    max-width: 700px;
    margin: 30px auto 0;
    /* min-height: ; */
    /* max-height: 90vh; */
    /* overflow-y: auto; */
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    
    .close-btn {
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 35px;
        height: 35px;
    }

    #meal-img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
    }
}


.loading {
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    padding: 2rem 3rem;
}